body {
    background-color:#3B4350;
}
#main-holder {
    background-color:#464F5E;
    width: 500px;
    height: 350px;
    display: grid;
    justify-items: center;
    align-items: center;
    border-radius: 50px;
    box-shadow: 0px 0px 5px 2px black;
  }
  
  
  
 
  
  #login-form {
    
    align-self: flex-start;
    display: grid;
    justify-items: center;
    align-items: center;
  }
  
  .login-form-field::placeholder {
    color: #3a3a3a;
  }
  
  .login-form-field {
    width: 300px;
    height:30px;
    border: none;
    border-bottom: 1px solid #3a3a3a;
    
    border-radius: 10px;
    outline: none;
    padding: 0px 0px 5px 5px;
  }
  #username-field {
    margin-top:100px;
  }
  #password-field{
    margin:20px;
  }
  
  #login-form-submit {
    width: 100px;
    height:30px;
    margin: 10px;
    padding: 7px;
    border: none;
    border-radius:10px;
    color:black;
    font-weight: bold;
    background-color: white;
    cursor: pointer;
    outline: none;
  }

   #block {
    display: block;
    position:absolute;
     top: 100px;
    left:900px; 
    

  } 
  #login-header{
    color:white;
    position: relative;
    left:200px;
  }
  
   #account {
    width: 400px;
    height: 50px;
    text-align: center;
    background-color:#464F5E;
    border-radius: 50px;
    display: block;
    
    position:absolute;
    top:600px;
    left:950px;

  } 
   .text{
    color:white;
    text-align: center;
    padding-top:15px ;
  } 

  .photo1{
    position: relative;
    left:200px;
  }
  a[href]{
    color: red;
  }
 

  